Table	Create Table
coupon_usage	CREATE TABLE `coupon_usage` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `coupon_id` bigint unsigned DEFAULT NULL,\n  `user_id` bigint unsigned DEFAULT NULL,\n  `order_id` bigint unsigned DEFAULT NULL,\n  `used_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `uk_user_coupon` (`user_id`,`coupon_id`),\n  KEY `user_id` (`user_id`),\n  KEY `order_id` (`order_id`),\n  KEY `coupon_usage_ibfk_1` (`coupon_id`),\n  CONSTRAINT `coupon_usage_ibfk_1` FOREIGN KEY (`coupon_id`) REFERENCES `coupons` (`id`) ON DELETE SET NULL,\n  CONSTRAINT `coupon_usage_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,\n  CONSTRAINT `coupon_usage_ibfk_3` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE SET NULL\n) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
Table	Create Table
news	CREATE TABLE `news` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `title` varchar(255) NOT NULL,\n  `slug` varchar(255) NOT NULL,\n  `excerpt` text,\n  `content` longtext NOT NULL,\n  `image_url` varchar(500) DEFAULT NULL,\n  `category` varchar(100) DEFAULT NULL,\n  `author_id` bigint unsigned DEFAULT '1',\n  `published_at` timestamp NULL DEFAULT NULL,\n  `is_published` tinyint(1) DEFAULT '0',\n  `views` int DEFAULT '0',\n  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,\n  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `slug` (`slug`),\n  KEY `author_id` (`author_id`),\n  KEY `idx_news_published` (`is_published`),\n  KEY `idx_news_published_at` (`published_at`),\n  CONSTRAINT `fk_news_admin_author` FOREIGN KEY (`author_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL\n) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
